<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="brand"><a href="{% url 'index'%}">浙哪儿</a></div>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#" >热点</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">事件</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="#" >事件列表</a></li>
							<li><a href="#" >创建事件</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">地点</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="{% url 'places:index' %}" >地点列表</a></li>
							<li><a href="{% url 'places:create' %}" >创建地点</a></li>
							<li><a href="{% url 'places:type_create' %}" >创建地点类型</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<div class="btn-group">
						<a class="btn" href="#"><i class="icon-user"></i>{{ username }}</a>
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-pencil"></i>设置</a></li>
							<li><a href="{% url 'profiles:_logout' %}"><i class="icon-eject"></i>登出</a></li>
						</ul>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>