<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="brand"><a href="{% url 'index'%}">浙哪儿</a></div>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#" data-toggle="modal">帮助</a></li>
					<li><a href="#infoModal" data-toggle="modal">How it Works</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="#LogModal" data-toggle="modal">登录</a></li>

					<li><a href="{% url 'profiles:register'  %}" data-toggle="modal">注册</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>