{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block main %}
<div class="container" style="padding-top:40px">
	<div class="container-fluid" style="margin-top:40px;padding:0px;">
		<div class="well span4">
			<h2>个人创建地点</h2>
			{% if not place_list %}
			<h4>你还没创建地点哦！</h4>
			{% else %}
				<table class="table">
					<tr>
						<th>地点名</th>
						<th>创建时间</th>
						<th>状态</th>
						<th>管理</th>
					</tr>
					{% for item in place_list %}
					<tr>
						<td>
							<a href="{% url 'places:detail' item.id %}">{{ item.name }}</a>
						</td>
						<td>{{ item.create_time }}</td>
						<td>{{ item.showStatus }}</td>
						<td>
							<a href="#">编辑</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
		<div class="well span6">
			<h2>个人创建事件</h2>
			{% if not event_list %}
			<h4>你还没创建事件哦！</h4>
			{% else %}
			<table class="table">
				<tr>
					<th>事件名</th>
					<th>开始时间</th>
					<th>截止时间</th>
					<th>组织</th>
					<th>状态</th>
					<th class="span1">管理</th>
				</tr>
				{% for item in event_list %}
				<tr>
					<td><a href="{% url 'events:detail' item.id %}">{{ item.name }}</a></td>
					<td>{{ item.start_time }}</td>
					<td>{{ item.end_time }}</td>
					<td>{{ item.host_organization }}</td>
					<td>{{ item.showStatus }}</td>
					<td>
						<a class="span1" href="#" style="margin-left:0px">编辑</a>
						<a class="span1" href="{% url 'events:_delete' item.id %}" style="margin-left:0px">删除</a>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
