{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block main %}
<div class="container" style="padding:50px">
	<h2>个人创建地点</h2>
	{% if place_list == None %}
	<h4>你还没创建地点哦！</h4>
	{% else %}
	<table class="table">
		<tr>
			<td>地点名</td><td>创建时间</td><td>状态</td><td>管理</td>
		</tr>
		{% for item in place_list %}
		<tr>
			<td><a href="{% url 'places:detail' item.id %}">{{ item.name }}</a></td>
			<td>{{ item.create_time }}</td>
			<td>{{ item.showStatus }}</td>
			<td>编辑 <a href="{% url 'places:_delete' item.id %}">删除</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

	<h2>个人创建事件</h2>
	{% if event_list == None %}
	<h4>你还没创建事件哦！</h4>
	{% else %}
	<table class="table">
		<tr>
			<td>事件名</td><td>开始时间</td><td>截止时间</td><td>组织</td><td>状态</td><td>管理</td>
		</tr>
		{% for item in event_list %}
		<tr>
			<td><a href="{% url 'events:detail' item.id %}">{{ item.name }}</a></td>
			<td>{{ item.start_time }}</td>
			<td>{{ item.end_time }}</td>
			<td>{{ item.host_organization }}</td>
			<td>{{ item.showStatus }}</td>
			<td>编辑 <a href="{% url 'events:_delete' item.id %}">删除</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

</div>

{% endblock %}
