{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block main %}
<div class="container" style="padding:40px">
	<div class="span6">
	<div name="register_form" class="span7">
	<form action="{% url 'profiles:_register'  %}" method='post'>  {% csrf_token %}
		<h2>注册</h2>
		<fieldset>
			<legend>必填信息:</legend>
			<div class="span4">
				<input type="text" name="username" id="username" placeholder="用户名" />
			</div>
			<div class="span4">
				<input type="text" name="email" id="email" placeholder="电子邮箱Email" />
			</div>
			<div id="email_format" class="span2">&nbsp</div>

			<div class="span4">
				<input type="password" name="password" id="password" placeholder="密码" />
			</div>
			<div id="password_validate" class="span2">&nbsp</div>
			<div class="span4">
				<input type="password" name="password_confirm" id="password_confirm" placeholder="确认密码" />
			</div>
			<div id="password_same" class="span2">&nbsp</div>
		</fieldset>
		
		<fieldset>
			<legend>选填信息:</legend>
			<div class="span4">
				<input type="text" name="name" placeholder="真实姓名" />
			</div>
			<div class="span4">
				性别： 男 
				<input type="radio" name="gender" value=1 /> 
				&nbsp 女 
				<input type="radio" name="gender" value=2 />
			</div>
		</fieldset>
	  	<div style='height:30px;'>&nbsp</div>
        	<button class="btn btn-large btn-primary" type="submit">注册</button>
	</form>
	</div>
</div>
{% endblock %}
