<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page_title }}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/themes/Simplex/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'DatePicker/css/bootstrap-datetimepicker.min.css' %}" />
	<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'DatePicker/js/bootstrap-datetimepicker.min.js' %}"></script>
	{% block css %}
	{% endblock %}
	{% block script %}
	{% endblock %}
</head>
<body>
	{% if not authenticated %}
		{% include 'include/nav_unauthenticated.html' %}
	{% else %}
		{% include 'include/nav_authenticated.html' %}
	{% endif %}

	{% block main %}
	{% endblock %}
	
	{% if not authenticated %}
		{% include 'include/login_modal.html' %}
	{% endif %}

</body>
</html>
