{% extends "base.html" %}
{% block css %}
<style>
img.media-object{
	height:100px;
	width:100px;
}
.image-list{
	margin-top: 15px;
}
</style>
{% endblock %}
{% block script %}
<script>
	$(document).ready(function()
	{
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			crossDomain: false, // obviates need for sameOrigin test
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
		$("a.btn-info").click(function()
		{
			m_event_id = $(this).attr("id");
			$.ajax({
				url:"{% url 'events:_follow'%}",
				type:"POST",
				data:{ clicked_id:m_event_id},
				success:function(){
					
				}
			})
		});
	});
</script>
{% endblock %}
{% block main %}
<div class="container" style="padding:50px">
	<div class="container-fluid" style="margin-top:40px">
		{% for event in event_list %}
		<div class="row media">
			<a class="pull-left" href="#">
				<img class="media-object img-polaroid" src="/static/image/default_event_image.png">
			</a>
			<div class="media-body">
				<div class="image-list pull-left">
					<img src="/static/map_icon/icons/{{event.event_type.icon.name}}">
					<img src="/static/map_icon/icons/{{event.place.place_type.icon.name}}">
				</div>
				<div class="media pull-right">
					<a class="btn btn-info" style="margin:10px 0 10px 0;" href="#">更多信息</a>
					<a id="{{event.id}}" class="btn btn-info" style="margin:10px 0 10px 0;"><strong>+1</strong></a>
				</div>
				<table class="table table-hover">
					<tr style="height:">
						<td><h4 class="media-heading">{{event.name}}</h4></td>
						<td><h5 class="media-heading">开始时间:</h5>{{event.start_time}}</td>
						<td><h5 class="media-heading">结束时间:</h5>{{event.end_time}}</td>
						<td><h5 class="media-heading">组织:</h5>{{event.host_organization}}</td>
						<td><h5 class="media-heading">地点:</h5>{{event.place}}</td>
						<td><h5 class="media-heading">具体位置:</h5>{{event.address}}</td>
					</tr>
				</table>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
