{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block script %}
<script>
	function checkForm() {
		return true;
	}

</script>

{% endblock %}

{% block main %}
<div class="container" style="padding:40px">
	<div class="span6">
	<div name="register_form" class="span6">
	<form action="{% url 'events:_create'  %}" method='post' onsubmit="return checkForm()" >  {% csrf_token %}
		<h2>事件创建</h2>
		<fieldset>
			<legend>事件信息</legend>
			<div class="span3">
			  <input type="text" name="name" id="name" style="width:280px;" placeholder="事件名" />
			</div>
			<div id="" class="span2" >&nbsp</div>

			<div class="span3">
			  <input type="text" name="description" id="description" style="width:280px;" placeholder="事件描述" />
			</div>
			<div id="" class="span2" >&nbsp</div>

			<div class="span3">
			  <input type="text" name="host_organization" id="host_organization" style="width:280px;" placeholder="举办组织" />
			</div>
			<div id="" class="span2">&nbsp</div>
			<div class="span3">
			  <input type="text" name="start_time" id="start_time" style="width:280px;" placeholder="开始时间" />
			</div>
			<div id="" class="span2">&nbsp</div>
			<div class="span3">
			  <input type="text" name="end_time" id="end_time" style="width:280px;" placeholder="结束时间" />
		  	</div>
			<div class="span3">
			事件举办地点
			<select name="place_id">
				{% for item in place_list %}
				<option value="{{ item.id }}" >{{item.name}}</option>
				{% endfor %}
			</select>
		  	</div>
			<div class="span3">
			事件类型
			<select name="event_type_id">
				{% for item in event_type_list %}
				<option value="{{ item.id }}" >{{item.name}}</option>
				{% endfor %}
			</select>
		  	</div>
		</fieldset>
		
	  	<div style='height:30px;'>&nbsp</div>
        	<button class="btn btn-large btn-primary span2" type="submit">提交</button>
	</form>
	</div>
</div>
{% endblock %}
