{% extends "base.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-fileupload.min.css' %}" />
<style>
	.well{
		padding:0px;
	}
	.input-append{
		margin:10px 0px 10px 0px;
	}
</style>
{% endblock %}

{% block script %}
<script src="{% static 'bootstrap/js/bootstrap-fileupload.js' %}"></script>
<script>
	$(function() {
		$('#datetimepicker1').datetimepicker({
			language: 'pt-BR',
		});
		$('#datetimepicker2').datetimepicker({
			language: 'pt-BR',
		});
	});
	function check_form(){
		var org = $("#host_organization").val()
		var start = $("#start_time").val();
		var end = $("#end_time").val();
		var desc = $("#description").val();
		var addr = $("#address").val();
		if(org && start && end && desc && addr)
		{
			return true;
		}
		$(".alert").removeClass("out");
		$(".alert").addClass("in");
		return false;
	}
	function close_alert(){
		$(".alert").removeClass("in");
		$(".alert").addClass("out");
	}
</script>
{% endblock %}

{% block main %}
<div class="container" style="padding:40px">
	
	<div name="register_form" class="span12">
		<form action="{% url 'events:_create'  %}" method='post' onsubmit="return check_form();" enctype="multipart/form-data">  
			{% csrf_token %}
			<h2>事件创建</h2>
			<fieldset>
				<legend>事件信息</legend>
				<div class="span4 pull-left">
					<input type="text" name="name" id="name" style="width:280px;" placeholder="事件名" />
					<input type="text" name="host_organization" id="host_organization" style="width:280px;" placeholder="举办组织" />
					<input type="text" name="address" id="address" style="width:280px;" placeholder="具体地点" />
					<div id="datetimepicker1" class="span3 input-append">
						<input id="start_time" name="start_time" placeholder="开始时间" data-format="MM/dd/yyyy hh:mm:ss" type="text"></input>
						<span class="add-on">
						<i data-time-icon="icon-time" data-date-icon="icon-calendar">
						</i>
						</span>
					</div>
					<div id="datetimepicker2" class="span3 input-append">
						<input id="end_time" name="end_time" placeholder="结束时间" data-format="MM/dd/yyyy hh:mm:ss" type="text"></input>
						<span class="add-on">
						<i data-time-icon="icon-time" data-date-icon="icon-calendar">
						</i>
						</span>
					</div>
					<div class="span3" style="margin:12px 0px 0px 0px;">
						事件类型
						<select name="event_type_id">
							{% for item in event_type_list %}
							<option value="{{ item.id }}" >{{item.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			  	<div class="span8 pull-right" style="margin-left:0px">
	<div class="fileupload fileupload-new span3" data-provides="fileupload">
	  <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
	  <div>
	    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="event_pic" id="event_pic"/></span>
	    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
	  </div>
	  <div class="span3">&nbsp</div>

	<div class="span3" style="margin-left:0px">
		事件举办地点
		<select name="place_id">
			{% for item in place_list %}
			<option value="{{ item.id }}" >{{item.name}}</option>
			{% endfor %}
		</select>
	  	</div>
		<div class="span3" style="margin-left:0px">
  	</div>
	</div>

					
			  		<textarea name="description" id="description" class="span5" placeholder="具体描述信息" rows="16" cols="40"></textarea> 
			  	</div>
			</fieldset>
	        <button class="btn btn-large btn-primary span2 offset4" type="submit">提交</button>
	        <button class="btn btn-large btn-primary span2" onclick="location.href='{% url 'events:index' %}'">取消</button>
		</form>
	</div>

	
</div>
<div class="alert alert-block alert-error fade out" data-alert="alert">
		<button class="close" type="button" onclick="close_alert();">×</button>
		<strong>错误</strong>
		请确保表单填写完毕，再次提交
</div>
{% endblock %}
